<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AnyCodable (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>BridgeKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BuildKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CloudSyncKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ContinuityKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DataServ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EngineKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>IntegrationKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>InvestigateKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MLXIntegration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MLXRepKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ProjectKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>RenderKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>RepKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ServiceKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>SpatialAudioKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>TensorCoreKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ToolApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ToolExp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToolExp00-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ToolExp00.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToolMath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>UXKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>WarehouseKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AIKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BridgeKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BuildKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CloudSyncKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ContinuityKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DataServ</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EngineKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IntegrationKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>InvestigateKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MLXIntegration</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MLXRepKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ProjectKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RenderKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RepKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ServiceKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SpatialAudioKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TensorCoreKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ToolApp</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ToolMath</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UXKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>WarehouseKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
